---
import Layout from "src/layouts/MainLayout.astro";
import events from "../events.json";
import linkify from "linkify-string";

const addressToLink = (address: string) =>
  "https://www.google.com/maps/search/" +
  new URLSearchParams({ api: "1", query: encodeURIComponent(address) });
---

<Layout title="Events | Jeremiah Lockwood" active="events">
  <h1 class="mx-auto my-20 px-10 text-center text-3xl font-bold">Events</h1>
  <main class="grid gap-20 px-10 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    {
      events.length ? (
        events.map(({ title, date, address, description }) => (
          <div class="prose prose-lg">
            <p>{date}</p>
            <p class="font-bold">{title}</p>
            <a href={addressToLink(address)}>{address}</a>
            {description.map((line) => (
              <p set:html={linkify(line)} />
            ))}
          </div>
        ))
      ) : (
        <p>No upcoming events right now.</p>
      )
    }
  </main>
</Layout>
