---
import Layout from "src/layouts/MainLayout.astro"
import events from "./events.json"
import linkify from "linkify-string"

const addressToLink = (address: string) =>
  "https://www.google.com/maps/search/" +
  new URLSearchParams({ api: "1", query: encodeURIComponent(address) })
---

<Layout title="Events | Jeremiah Lockwood" active="events">
  <h1>Events</h1>
  <aside
    style="margin:0 auto;width:80%;font-size:1.5rem;padding:4rem;display:flex;flex-direction:column;gap:1rem;border:5px solid black;"
  >
    <h2>The Dream Past: A Sonic Conjuring</h2>
    <p>
      new immersive music experience <br />
      for the Yamim Noraim (days of awe) from <br />
      <strong>THE SWAY MACHINERY</strong>
    </p>
    <p>
      September 21, 2023 7:30pm <br />
      Union Temple House of CBE - 17 Eastern Parkway, Brooklyn Presented by <br />
      Congregation Beth Elohim
    </p>
    <img
      src="/images/Yiddish-Time-Machine---Text.jpg"
      alt=""
      style="width:100%;margin-top:2rem;"
    />
    <p>
      On September 21, 2023, during the “days of awe” between Rosh Hashana and Yom Kipur,
      you are invited to the premiere performance of
      <strong>The Dream Past: A Sonic Conjuring</strong>, the latest project of the
      “unclassifiable and uplifting” (The New Yorker) Brooklyn rock band,
      <strong>The Sway Machinery</strong>. Presented by Congregation Beth Elohim in the
      hauntingly beautiful historic Union Temple, an unreconstructed ruin of an art deco
      synagogue, this new set of music draws on the cantorial tradition, initiating a
      dance with the ghosts. Featuring the double-front of vocalists Yuli Ya’el Be’eri and
      band-leader Jeremiah Lockwood, the ace horn section of band-cofounders Stuart Bogie
      and Jordan McLean, and the great beauty of drummer John Bollinger, The Dream Past
      extends the band’s long running project of
      <i>cantorial revival</i>—excavating the otherworldly potentials of Jewish sacred
      music and lost melodies to instigate a party, break boundaries between communities,
      and touch the past. Like its debut project,
      <i>Hidden Melodies Revealed</i>, which also drew upon High Holidays liturgy, The
      Dream Past offers an expansive vision of what can be achieved through commitment to
      ancestor voices and reciprocity with the dead. This new work turns to a lost and now
      rediscovered archive of bootleg recordings of live prayer leading as the source
      material for its ecstatic transformation.
    </p>
  </aside>
  <main>
    {
      events.length ? (
        events.map(({ title, date, address, description }) => (
          <div class="event">
            <h2>{title}</h2>
            <p class="date">{date}</p>
            <p>
              <a href={addressToLink(address)}>{address}</a>
            </p>
            <p set:html={linkify(description)} />
          </div>
        ))
      ) : (
        <p>No upcoming events right now.</p>
      )
    }
  </main>
</Layout>

<style>
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  h1 {
    text-align: center;
  }
  h2 {
    display: block;
  }
  .event {
    padding: 2em;
    margin: 2em;
    line-height: 1.4;
    font-size: 1.2rem;
  }
  .event a {
    display: block;
  }
  .event p {
    padding: 0;
  }
</style>
